body {
  padding: 0;
  margin: 0;

  overflow: none;
}
nav {
  display: flex;
  justify-content: space-around;

  height: 30vh;
  padding: 0 10vw;
  overflow: none;
}

button.nav-btn {
  width: 10vw;
  border: none;
  background-color: transparent;
}

main {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 70vh;
}

button#left-btn,
button#right-btn {
  width: 15vw;
  margin: 0 5vw;
}

div#tiny-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw;
}
